body {
	/* background-color: #B2E9FD; */
	background-image: url(./images/moviebg.jpg);
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #DC4247;
	font-weight: bold;
}

.results {
	margin-top: 20px;
}

#movies-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	margin: 10px;
	padding: 0px;
}

.footer {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

/*.card-img-top {
	width: 200px;
	height: auto;
}

.add {
	padding: 5px;
	margin: 10px;
}*/